language: swift
osx_image: xcode8.3
before_script:
  - pod lib lint --verbose --fail-fast
  - pod repo update
script:
  - cd GKPinViewExample && pod install
  - xcodebuild -workspace GKPinViewExample.xcworkspace -scheme GKPinViewExample -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO
